@import 'variables';
@import 'fonts';

html {
  scroll-behavior: smooth;

  & body {
    font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

div[data-drupal-messages] {
  display: none; 
}


.c-mapModal {
 

  @apply w-[232px] h-[121px] lg:w-[364px] flex flex-col justify-center items-center !bg-white;



}