/* Variables */

:root {
  /* Font family */
  --font-family-primary: MADEKenfolg, serif;
  --font-family-secondary: MuseoSans, serif;
  --font-family-third: AbrahamLincoln, serif;
  --font-family-fourth: Poppins, serif;
  --font-family-fifth: Inter, serif;
  --font-material-icons: Material Icons;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.5rem;
  --text-7xl: 4rem;
  --text-8xl: 8rem;

  /* Colors */
  --color-primary-500: #EEBB6F;


  /* Background button*/
  --bg-primary: linear-gradient(180deg, #FFBC56 0%, #F4A01F 100%);
  

  /*Bg gradient header*/
  --bg-secondary: linear-gradient(180deg, #B20000 0%, #310200 99.99%, #310200 100%);

  --bg-linear-map: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 53.44%, rgba(0, 0, 0, 0) 100%);

  /*Borders custom*/

  --border-linear-1: linear-gradient(90deg, #EEBB6F 10.67%, rgba(238, 187, 111, 0) 96.53%);
  
  


}
