
<section class="abi-page-404 min-h-screen flex place-content-center place-items-center relative">
    
    <article class="w-10/12 lg:w-2/4 flex flex-col items-center gap-12">
        <img src="/{{ directory }}/sources/images/NocheEspecialBrand-desktop.png" alt="logo Modelo especial" title="logo modelo especial" width="226">
        <h2 class="font-primary text-5xl text-white leading-6 uppercase">Error</h2>
        <h3 class="font-primary text-8xl py-8 text-white leading-6 uppercase">404</h3>
        <p class="font-secondary font-normal text-lg text-white leading-5">No hemos encontrado esta página</p>
        <a href="{{ path('<front>')}}" class="flex place-content-center place-items-center bg-button-primary font-secondary font-bold text-base leading-7 w-[220px] h-[50px] rounded-md uppercase">Volver al home</a>
    </article>

</section>