<div id="agv2" class="d-none cl-text-primary abi-ageGate" style="display:none;">

  {# State 01 / year #}
  <section id="age-gate-04" class="agv2__container abi-ageGate__container black left-layer active" >
    <div class="abi-ageGate__wrapper">
      <div class="agv2__wrapper">
        <header>
          <div class="agv2__brand">
            <img src="{{logo}}" alt="LOGO" title="LOGO">
          </div>
          <p class="abi-ageGate--title">DEBES SER MAYOR DE EDAD PARA CONTINUAR</p>
          <p class="abi-ageGate--ageDisclaimer">Ingresa tu fecha de nacimiento</p>
        </header>
      
        <div class="form-age">
          <div class="form-age__header">
            <p class="agv2__p">{{ description_year }}</p>
          </div>

          {# Year input #}
          <div class="form-age__content">
            {# Year #}
            <div class="year form-age__content--item">
              <p class="text-info form-age__content--item-label">AÑO</p>
              <div class="age-date form-age__content--item-date">
                <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_year_1" data-type="input-year" data-next="year-02" data-previous="month-02" data-element="year-01" type="tel" pattern="\d*" placeholder="A" maxlength="1">
                <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_year_2" data-type="input-year" data-previous="year-01" data-next="year-03" data-element="year-02" type="tel" pattern="\d*" placeholder="A" maxlength="1">
                <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_year_3" data-type="input-year" data-previous="year-02" data-next="year-04" data-element="year-03" type="tel" pattern="\d*" placeholder="A" maxlength="1">
                <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_year_4" data-type="input-year" data-previous="year-03" data-element="year-04" type="tel" pattern="\d*" placeholder="A" maxlength="1">
              </div>
            </div>
          
            {# Month #}
            <div class="month form-age__content--item">
            <p class="text-info form-age__content--item-label">MES</p>
            <div class="age-date form-age__content--item-date">
              <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_month_1" data-type="input-month" data-next="month-02" data-previous="day-02" data-element="month-01" type="tel" pattern="\d*" placeholder="M" maxlength="1">
              <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_month_2" data-type="input-month" data-next="year-01" data-previous="month-01" data-element="month-02" type="tel" pattern="\d*" placeholder="M" maxlength="1">
            </div>
            </div>

            {# Day #}
            <div class="day form-age__content--item">
            <p class="text-info form-age__content--item-label">DÍA</p>
            <div class="age-date form-age__content--item-date">
              <input id="focus" class="agv2__input form-age__content--item-input" data-qadp="age_gate_day_1" data-type="input-day" data-next="day-02" data-element="day-01" type="tel" pattern="\d*" placeholder="D" maxlength="1">
              <input class="agv2__input form-age__content--item-input" data-qadp="age_gate_day_2" data-type="input-day" data-next="month-01" data-previous="day-01" data-element="day-02" type="tel" pattern="\d*" placeholder="D" maxlength="1">
            </div>
            </div>
          </div>

          <div id="age-gate-01">
          <div class="form-age__content"></div>
          </div>
          {# Year input #}

          {# load legal #}
          <div class="legal__load">
          <div class="agegate-legal">

            <div class="agegate-legal__row">
              <label class="agv2__checkbox">
                      <span class="checkbox__input">
                        <input type="checkbox" name="checkbox" data-element="remember-date">
                        <span class="checkbox__control">
                          <svg viewBox="0 0 200 200">  <path d="M 100, 100  m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"  /> </svg>
                        </span>
                      </span>
                <span class="agv2__label">Recordar mis datos</span>
              </label>
            </div>
            <div class="agegate-legal__row">
              <p class="agv2__p small"> *No selecciones esta opción si compartes este dispositivo con menores de edad.</p>
            </div>

            <div class="agegate-legal__row">
              <div class="agegate__btns">
                <a class="agegate__btn main hidden btn btn--secondary uppercase " data-qadp="button_enter_agegate" data-element="ageValidate" href="#">Entrar</a>
              </div>
            </div>
          </div>
          </div>
        {# load legal #}
        </div>
      </div>
    </div>
    
    <div id="footer__paco" class="footer__load footer"></div>
  </section>
  {# State 01 #}
</div>


<script type="text/javascript">
  const buttons = document.getElementsByTagName("button");

  for (const button of buttons) {
    button.addEventListener('click', () => {
      var id = button.getAttribute("id");

      var layerClass = "." + id+ "-layer";
      var layers = document.querySelectorAll(layerClass);
      for (const layer of layers) {
        layer.classList.toggle("active");
      }
    });
  }

</script>
